@import '../../scss_base/starter';

//Debian commit


//General reset
h1, h2, h3, p, ul, legend, input, label{
    @extend %reset-margin-padding;
}
$font-size: 16px;

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc($font-size + 0.05vw);
}

header {
    text-align: center;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 30px;

    p {
        background-color: lightgray;
        color: black;
        margin: 0 auto;
        width: 70ch;
        padding: 40px;
        border-radius: 3px;

        code {
            color: white;
        }
    }
}

footer {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0 ,0, 0.1);
}

main {
    @include grid();
    grid-auto-flow: row;
    gap: 30px;
    padding: 30px;

    background-color: rgba(255, 255, 255, 0.1);
}

//The book itself
#book-shelf {
    @include grid($column: repeat(auto-fill, minmax(200px, 1fr)));
    gap: 20px;

    a {
        color: inherit;
        display: contents;
    }
}

.book {
    @include flex($direction: column);
    gap: 10px;
    padding: 10px;
    img {
        width: 100%;
        height: 100%;
    }
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    text-align: center;

    .book-operation-container {
        margin-top: auto;
        @include flex($direction: column);
        gap: 10px;

        button {
            padding: 7px;
        }
    }

    .title {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .author {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

.did-read{
    position: relative;
}

.did-read::after {
    position: absolute;
    top: 7px;
    right: 10px;
    content: 'Read ✓';
    background-color: #fff;
    padding: 7px;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.2);
}

form {
    max-width: 500px;
    margin: 0 auto;
    h2 {
        text-align: center;
    }

    p {
        margin-bottom: 10px;
        @include grid();
        gap: 5px;
        grid-auto-flow: row;
    }

    p:last-child {
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        gap: 7px;
    }

    button {
        margin-top: 10px;
        padding: 7px;
        width: 100%;
    }
}
