@import '../../scss_base/starter';

//Debian commit


//General reset
h1, h2, h3, p, ul, legend, input, label{
    @extend %reset-margin-padding;
}
$font-size: 16px;

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc($font-size + 0.1vw);
}

header {
    text-align: center;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0 ,0, 0.1);
}

main {
    @include grid();
    grid-auto-flow: row;
    gap: 30px;
    padding: 30px;

    background-color: rgba(255, 255, 255, 0.1);
}

//The book itself
#book-shelf {
    @include grid($column: repeat(auto-fill, minmax(200px, 1fr)));
    gap: 20px;

    a {
        color: inherit;
        display: contents;
    }
}

.book {
    @include flex($direction: column);
    gap: 10px;
    padding-bottom: 20px;
    img {
        width: 100%;
        height: 100%;
    }
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    text-align: center;

    .title {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .author {
        font-size: 1.1rem;
        font-weight: 400;
    }
}

.add-book {
    @include flex($justify: center);
}

form {
    h2 {
        text-align: center;
    }

    .form-container {
        @include grid($column: 1fr 1fr);
        gap: 10px;
    }
    
    p {
        @include grid();
        gap: 7px;
        grid-auto-flow: row;
    }

    input {
        width: 300px;
    }

    button {
        width: 100%;
        grid-column: span 2;
    }
}
