doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Library
    body 
        header
          h1 Book selection
        main
          section.book-shelf-container
            ul#book-shelf
          
          section.add-book
            form(action="" method="post")#book_add_form
               h2 Add new book
               div.form-container
                fieldset 
                  legend Book informations
                  p
                   label(for="book_title") Title
                   input(type="text", name="book-title", id="book_title" placeholder="Catcher in the Rye" required)
                  p
                   label(for="book_author") Author
                   input(type="text", name="book-author", id="book_author" placeholder="J.D. Salinger" required)
                  p
                   label(for="book_year") Year
                   input(type="year", name="book-year", id="book_year" placeholder="1951" required)
                  p
                   label(for="book_genre") Genre
                   select(name="book_genre" id="book_genre" required)
                     option(value="action") Action
                     option(value="myster") Mystery
                     option(value="horror") Horror
                     option(value="adventure") Adventure
                     option(value="crime") Crime
                     option(value="other") Other
                fieldset 
                  legend Have you read this book ?
                  p 
                   label(for="book_is_read") Yes
                   input(type="radio" id="book_is_read", name="book_read" value="read")
                   label(for="book_not_read") No
                   input(type="radio" id="book_not_read", name="book_read" value="notread" checked)
                button(type="button" id="book_add_btn") Add +
        footer
          h3 Made by Tomifuchi, Github: Library 
script(src="script.js") 
