doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Library
    body 
        header
          h1 Book selection
        main
          section.book-shelf-container
            ul#book-shelf
          
          section.add-book
            form(action="" method="post")
              fieldset 
               legend Add new book
               label(for="book_title") Title
               input(type="text", name="book-title", id="book_title" required)
               label(for="book_author") Author
               input(type="text", name="book-author", id="book_author" required)
               label(for="book_year") Year
               input(type="text", name="book-year", id="book_year" required)
               //For this shit to not submit
               button(type="button" id="book_add") Add +

        footer
          h3 Made by Tomifuchi, Github: Library 
script(src="script.js") 
